.v-button {
  cursor: pointer;

  &--empty {
    border: none;
    --v-button-background: none;
  }

  &--light-blue {
    --v-button-background: lightskyblue;
  }

  &:not(&--default) {
    &:hover {
      --v-button-background: #f0f0ff;
    }

    background-color: var(--v-button-background, transparent);
  }
}
